body {
  width: 85%;
  float: right;
  }

#bikebrags {
  float: left;
  width: 15%;
  background-color: #003270;
  height: 100%;
  min-height: 1600px;
  color: white;
  overflow: hidden;
  z-index: 10 !important; 
  } 

#top {
  height: 40px;
}

#bikebrags h2 {
  text-align: center;
  color: white; 
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  }

#bikebrags h5 {
  text-align: center;
  color: white; 
  font-size: 18px;
  font-weight: bold; 
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h5 a {
  text-align: center;
  color: white; 
  font-size: 18px;
  font-weight: bold; 
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#bikebrags h10 {
  text-align: center;
  color: white; 
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#toggle-bikebrags {
  float: left; 
  margin-left: 8px;
  margin-top: 8px;
  font-size: 20px;
  cursor: pointer;
  }

.bikebrags-option {
  font-size: 16px;
  color: white; 
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
  }

.bikebrags-option:hover {
  text-decoration: underline;
  color: #136787;
  } 

#username-input {
  width: 80%;
}

.icon {
  margin: 12px;
}

#notice-area {
  text-align: center;
  }

.notice-text {
  font-size: 16px;
  font-weight: bold;
  }
  
.my-leaderboard-entry {
  font-size: 22px;
  font-weight: bold;
}